@{
    ViewBag.Title = "About";
}

<!-- banner Start  -->
<header >
    <div class="head-part d-flex justify-content-center align-items-center">
        <div class="txt-title">
            <h1>ABOUT ME</h1>
        </div>
    </div>
</header>
<!-- banner End  -->
<!-- about us start -->
<section>
    <div class="container text-center">

        <div class="twelve d-flex justify-content-center my-5">
            <h1>Our Story</h1>
        </div>

        <div class="row align-items-start flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6 txt-about d-flex justify-content-center align-items-center my-5 my-sm-3">
                <p style="max-width: 500px">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit
                    quaerat nam, numquam blanditiis provident mollitia quae delectus
                    eaque autem quasi aspernatur corrupti corporis laboriosam magnam
                    quidem inventore. Qui, maiores. Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit.<br />Sunt mollitia ab cum ut,
                    suscipit voluptas quasi perferendis, incidunt est sequi totam,
                    consectetur iure magnam doloremque doloribus asperiores deserunt.
                    Tempore, nemo. Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit. Asperiores officia ipsam corporis vitae officiis iste libero
                    est deleniti voluptatem vel ratione cupiditate aliquid ad
                    doloremque inventore quaerat, culpa corrupti eaque?
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="img-border-styling ">
                    <img class="images" src="https://images.unsplash.com/photo-1641335339082-f59be37f758d?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="container text-center2">
        <!-- <h1>OUR STORY</h1> -->
        <div class="row align-items-start">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <div class="img-border-styling-2">
                    <img class="images" src="https://images.unsplash.com/photo-1584462198614-03c2a523945d?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                </div>
            </div>
            <div class="col-12 col-md-6 txt-about d-flex justify-content-center align-items-center my-5 my-sm-3">
                <p style="max-width: 500px">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit
                    quaerat nam, numquam blanditiis provident mollitia quae delectus
                    eaque autem quasi aspernatur corrupti corporis laboriosam magnam
                    quidem inventore. Qui, maiores.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- about us End  -->
