@{
    ViewBag.Title = "Home Page";
}

<!-- ---header part start--- -->
<header>
    <div id="particles-js">
        <!-- <h1>HELLo</h1> -->

        <h1 class="h1-head">Hello I Am Dr. Anjum Attar</h1>
        <br />
        <h2 class="h2-head">I Am <span class="h2-span"></span></h2>

        <div class="txt-btn">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus, debitis fugit laborum doloribus,
            </p>
        </div>
    </div>
</header>
<!-- ---header part end--- -->
<!-- --- About start--- -->
<section>

    <div class="twelve d-flex justify-content-center my-5">
        <h1>About Me</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class=" col-12 col-md-6 d-flex align-items-start order-1 order-md-0">
                <div class="detail-box">
                    <div class="head-ab">
                        <h2>WHO M I</h2>
                    </div>
                    <p>
                        Introducing our team of cloud Mountain - a group of certified
                        and seasoned professionals ready to sprinkle their magic on all
                        your cloud challenges! We provide a reliable infrastructure for
                        your websites with a 99% network and power uptime
                        guarantee.Offering Cloud VPS, Dedicated Servers, Managed
                        Services, Cloud Migration, DevOps, and beyond, we're your
                        comprehensive solution for seamless digital transformation
                    </p>
                    <a href="#" class="Button-css">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-0 order-md-1">
                <div class="mb-5 mb-sm-3 mb-md-0">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1523459178261-028135da2714?q=80&w=1466&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="max-width:20rem; height:auto" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --- About end--- -->
<!-- --- Blogs Start--- -->

<section>

    <div class="twelve d-flex justify-content-center my-5">
        <h1>Recent Blogs</h1>
    </div>

    <div class="container-fluid" >
        <div class="product-scroller">
            <div class="nav-button left d-none d-md-block">&#8249;</div>
            <div class="product-list">

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

                <div class="card card-custom-css m-3 ">
                    <img src="~/Images/woman.jpg" class="card-img-top" alt="...">
                    <div class="card-body blog-card-body">
                        <p class="card-text text-black">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="Button-css">
                            Read More
                        </a>
                    </div>
                </div>

            </div>
            <div class="nav-button right d-none d-md-block">&#8250;</div>
        </div>
    </div>
</section>

<!-- --- Blogs Start--- -->
<!-- --- Contact start--- -->
<section id="Contact" class="my-3">

    <div class="twelve d-flex justify-content-center my-5">
        <h1>COntact Us</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class=" col-12 col-md-6 d-flex align-items-start">
                <div class="detail-box mb-5 mb-sm-3 mb-md-0">
                    <div class="head-ab">
                        <h2 class="mb-3">GET IN TOUCH WITH ME</h2>
                    </div>
                    <div>
                        <div><span class="d-inline-block me-3"><i class="icon-phone"></i></span> <a href="tel:+917977574182">+91-7977574182</a> </div>
                        <div>
                            <span><i class="icon-envelope d-inline-block me-3"></i></span> <a href="mailto:amaanshaikh1405@gmail.com">amaanshaikh@gmail.com</a>
                        </div>
                        @*<div><span><i class="icon-map-marker d-inline-block me-3"></i></span></div>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  ">
                <div class="px-xl-5">
                    <form class="border p-3 p-md-4  " style="border-radius: 16px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" id="myForm" method="post" action="@Url.Action("SendEmail", "Home")">
                        <div class="row  my-3">
                            <div class="form-group col-12 col-md-12 ">
                                <label for="firtname">Full Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control form-control shadow-sm" required id="name" name="name">
                            </div>
                        </div>
                        <div class="row  my-3">
                            <div class="col-12 col-md-12 ">
                                <div class="form-group ">
                                    <label for="exampleInputPhone1">Phone Number <span style="color:red">*</span></label>
                                    <input type="number" class="form-control form-control shadow-sm " required name="number" id="number" aria-describedby="numberHelp">
                                </div>
                            </div>
                        </div>
                        <div class="row  my-3">
                            <div class="col-12 col-md-12 ">
                                <div class="form-group ">
                                    <label for="exampleInputEmail1">Email <span style="color:red">*</span></label>
                                    <input type="email" class="form-control form-control shadow-sm " required name="email" id="email" aria-describedby="emailHelp">
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 col-md-12 ">
                                <div class="form-group ">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    <textarea class="form-control shadow-sm" name="message" id="message" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row  my-3">
                            <div class="col-10 ">
                                <button type="submit" class="btn Button-css">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- --- Contact end--- -->

<script>

    console.log('Script loaded');

    //$(document).ready(function () {
    //    $('#myForm').submit(function (event) {
    //        event.preventDefault(); // Prevent the default form submission

    //        // Send the form data using AJAX
    //        $.ajax({
    //            url: $(this).attr('action'),
    //            type: 'POST',
    //            data: $(this).serialize(),
    //            success: function (response) {
    //                if (response.success) {
    //                    // Clear form fields
    //                    $('#myForm input[type="text"],#myForm input[type="number"],#myForm input[type="email"], #myForm textarea').val('');

    //                    // Display success message
    //                    alert(response.message);
    //                } else {
    //                    // Display error message
    //                    alert(response.message);
    //                }
    //            },
    //            error: function () {
    //                // Display error message
    //                alert('An error occurred while submitting the form.');
    //            }
    //        });
    //    });
    //});

    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('myForm');

        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);

                        if (response.success) {
                            // Clear form fields
                            var formInputs = form.querySelectorAll('input[type="text"], input[type="number"], input[type="email"], textarea');
                            formInputs.forEach(function (input) {
                                input.value = '';
                            });

                            // Display success message
                            alert(response.message);
                        } else {
                            // Display error message
                            alert(response.message);
                        }
                    } else {
                        // Display error message
                        alert('An error occurred while submitting the form.');
                    }
                }
            };

            xhr.send(new URLSearchParams(new FormData(form)));
        });
    });
</script>

<script>
    const productScroller = document.querySelector('.product-scroller');
    const productList = document.querySelector('.product-list');
    const navButtons = document.querySelectorAll('.nav-button');
    const scrollStep = 300;

    navButtons.forEach(button => {
        button.addEventListener('click', () => {
            if (button.classList.contains('left')) {
                productList.scrollBy({
                    left: -scrollStep,
                    behavior: 'smooth'
                });
            } else {
                productList.scrollBy({
                    left: scrollStep,
                    behavior: 'smooth'
                });
            }
        });
    });
</script>